svg {
    display: block;
    margin: auto;
}

.country-on {
    fill: #4B5358;
    /* highlight colour for selected country */
}

.label {
    font-size: 13px;
}

.legendThreshold {
    font-size: 12px;
    font-family: sans-serif;
    fill: black;
}

.legendThreshold2 {
    font-size: 12px;
    font-family: sans-serif;
    fill: orange
}

/* Tooltip */
div.tooltip {
    position: absolute;
    visibility: hidden;
    font-size: 100%;
    color: #333333;
    background-color: #e6e6e6;
    opacity: .95;
    padding: 5px;
}
span.name { color:#FF0000;font-weight:bold;}